{% extends "base_view.html" %}
{% load date_fmt %}

{% block title %} meliza-lab : location summary {% endblock %}

{% block content %}
<h2>Location Summary</h2>
<hr/>

{% for location in location_list %}

<p><strong> {{ location.location }} </strong></p>

<ul>
  {% if location.males %} <li> Adult males: {{ location.males|url_list }}</li> {% endif %}
  {% if location.females %} <li> Adult females: {{ location.females|url_list }}</li> {% endif %}
  {% if location.juveniles %} <li> Juveniles: {{ location.juveniles|url_list }}</li> {% endif %}

</ul>

{% endfor %}

{% endblock %}
