{% load bird_tags %}
<table class="table table-striped table-condensed">
  <thead>
    <th>Name</th>
    <th>Species</th>
    <th>Sex</th>
    <th>Age</th>
    <th>Alive</th>
    <th>Location</th>
    <th>Children</th>
    <th>UUID</th>
    <th>Reserved</th>
  </thead>
  <tbody>
    {% for animal in animal_list %}
        <tr>
          <td><a href="{{ animal.get_absolute_url }}">{{ animal.name }}</a></td>
          <td>{{ animal.species }}</td>
          <td>{{ animal.sex }}</td>
          <td>{{ animal.age|agestr }} ({{ animal.age_group }})</td>
          <td>{{ animal.status }}</td>
          <td>{{ animal.last_location|default_if_none:"" }}</td>
          <td>{{ animal.children.hatched.count}}</td>
          <td>{{ animal.uuid }}</td>
          <td>{% if animal.reserved_by %}<a href="{% url 'birds:user' animal.reserved_by.id %}">{{ animal.reserved_by }}</a>{% endif %}</td>
          <td></td>
        </tr>
    {% endfor %}
  </tbody>
</table>
