{% extends "base_view.html" %}
{% load bird_tags %}

{% block title %} meliza-lab : breeding report {% endblock %}

{% block content %}
<h2>Breeding Report</h2>
<hr/>

<table class="table table-striped">
  <thead>
    <th>current location</th>
    <th></th>
    <th>pair</th>
    <th>active</th>
    {% for date in dates %}
    <th>{{ date|date:"D m/d/Y" }}</th>
    {% endfor %}
  </thead>
  <tbody>
    {% for pairing in pairs %}
    <tr>
      <td>{{ pairing.location.room|default_if_none:"" }}</td>
      <td>{{ pairing.location.name }}</td>
      <td>
	<a href="{% url 'birds:pairing' pairing.pair.id %}">{{ pairing.pair.short_name }}</a>
      </td>
      <td>{{ pairing.pair.began_on|date:"m/d/Y" }}{% if pairing.pair.ended_on %}-<br/>{{ pairing.pair.ended_on|date:"m/d/Y" }}{% endif %}</td>
      {% for day in pairing.counts %}
      <td>
        {{ day|count_summary:"<br/>" }}
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>

<h4>Nest checks</h4>

<table class="table table-striped">
  <thead>
    <th>Date</th>
    <th>User</th>
    <th>Comments</th>
  </thead>
  <tbody>
    {% for check in checks %}
    <tr>
      <td>{{ check.datetime|date:"D m/d/Y" }}</td>
      <td>{{ check.entered_by }}</td>
      <td>{{ check.comments }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<p><a href="{% url 'birds:breeding-check' %}">enter nest check for today</a></p>

{% endblock %}
