{% extends "base_view.html" %}
{% load bird_tags %}

{% block title %} meliza-lab : breeding statistics {% endblock %}

{% block content %}
<h2>Breeding statistics</h2>


<table class="table table-striped table-condensed">
  <thead>
    <th>Name</th>
    <th>Sex</th>
    <th>Age</th>
    <th>Status</th>
    <th>Inbreeding</th>
    <th>Reserved</th>
  </thead>
  <tbody>
    {% for animal in animal_list %}
        <tr>
          <td><a href="{{ animal.get_absolute_url }}">{{ animal.name }}</a></td>
          <td>{{ animal.sex }}</td>
          <td>{{ animal.age|agestr }}</td>
          <td>{{ animal.status }}</td>
          <td>{{ inbreeding|item_at:animal.idx}}</td>
          <td>{% if animal.reserved_by %}<a href="{% url 'birds:user' animal.reserved_by.id %}">{{ animal.reserved_by }}</a>{% endif %}</td>
          <td></td>
        </tr>
    {% endfor %}
  </tbody>
</table>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?{{ query.urlencode }}&amp;page={{ page_obj.previous_page_number }}">previous</a> |
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            | <a href="?{{ query.urlencode }}&amp;page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

{% endblock %}
