{% extends "base_view.html" %}
{% load widget_tweaks %}

{% block title %} meliza-lab : events {% endblock %}

{% block content %}
<h2>{% if header_text %}{{ header_text}}{% else %}Events{% endif %}</h2>

<form class="form-horizontal" method="get" role="form">
  <div class="form-group">
    <div class="col-sm-3">
      {% render_field filter.form.color placeholder="Band color" class+="form-control" %}
    </div>
    <div class="col-sm-3">
      {% render_field filter.form.band placeholder="Band number" class+="form-control" %}
    </div>
    <div class="col-sm-3">
      {% render_field filter.form.status placeholder="Status" class+="form-control" %}
    </div>
    <button type="submit" class="btn btn-primary">
      <span class="glyphicon glyphicon-search"></span> Search
    </button>
  </div>
</form>

<table class="table table-striped table-condensed">
  <thead>
    <th>Animal</th>
    <th>Status</th>
    <th>Date</th>
    <th>Location</th>
    <th>Comments</th>
    <th>Entered by</th>
    <th>Edit</th>
  </thead>
  <tbody>
    {% for event in event_list %}
        <tr>
          <td><a href="{{ event.animal.get_absolute_url }}">{{ event.animal.name }}</a></td>
          <td>{{ event.status }}</td>
          <td>{{ event.date }}</td>
          <td>{{ event.location }}</td>
          <td>{{ event.description }}</td>
          <td>{{ event.entered_by }}</td>	  
          <td><a href="{% url 'admin:birds_event_change' event.id %}"
                 class="glyphicon glyphicon-edit" alt="[edit]" aria-label="[Edit]"></a></td>
        </tr>
    {% endfor %}
  </tbody>
</table>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?{{ query.urlencode }}&amp;page={{ page_obj.previous_page_number }}">previous</a> |
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            | <a href="?{{ query.urlencode }}&amp;page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock %}
