{% extends "base_view.html" %}
{% load bird_tags %}

{% block title %} meliza-lab : location : {{ location }} {% endblock %}

{% block content %}

<h2>{{ location }}</h2>

<p>{{ location.description }}</p>

<h3>Animals</h3>

<table class="table table-striped table-condensed">
  <thead>
    <th>Name</th>
    <th>Species</th>
    <th>Sex</th>
    <th>Age</th>
    <th>Alive</th>
    <th>Children</th>
    <th>UUID</th>
    <th>Reserved</th>
  </thead>
  <tbody>
    {% for animal in animal_list %}
        <tr>
          <td><a href="{{ animal.get_absolute_url }}">{{ animal.name }}</a></td>
          <td>{{ animal.species }}</td>
          <td>{{ animal.sex }}</td>
          <td>{{ animal.age|agestr }} ({{ animal.age_group }})</td>
          <td>{{ animal.alive|yesno }}</td>
          <td>{{ animal.children.hatched.count}}</td>
          <td>{{ animal.uuid }}</td>
          <td>{% if animal.reserved_by %}{{ animal.reserved_by }}{% endif %}</td>
          <td></td>
        </tr>
    {% endfor %}
  </tbody>
</table>

<h3>Eggs</h3>

<table class="table table-striped table-condensed">
  <thead>
    <th>Name</th>
    <th>Expected Hatch</th>
    <th>Species</th>
    <th>UUID</th>
  </thead>
  <tbody>
    {% for egg in egg_list %}
        <tr>
          <td><a href="{{ egg.get_absolute_url }}">{{ egg.name }}</a></td>
	  <td>{{ egg.expected_hatch }}</td>
          <td>{{ egg.species }}</td>
          <td>{{ egg.uuid }}</td>
          <td></td>
        </tr>
    {% endfor %}
  </tbody>
</table>

<h3>Recent Events</h3>

<table class="table table-striped table-condensed">
  <thead>
    <th>Animal</th>
    <th>Status</th>
    <th>Date</th>
    <th>Age</th>
    <th>Comments</th>
    <th>Entered by</th>
    <th>Edit</th>
  </thead>
  <tbody>
    {% for event in event_list|slice:":10" %}
        <tr>
          <td><a href="{{ event.animal.get_absolute_url }}">{{ event.animal }}</a></td>
          <td>{{ event.status }}</td>
          <td>{{ event.date }}</td>
	  <td>{{ event.age|agestr }}</td>
          <td>{{ event.description }}</td>
	  <td>{{ event.entered_by}}</td>
          <td><a href="{% url 'admin:birds_event_change' event.id %}"
                 class="glyphicon glyphicon-edit" alt="[edit]" aria-label="[Edit]"></a></td>
        </tr>
    {% endfor %}
  </tbody>
</table>
<a href="events/">show all</a>&nbsp;&nbsp;


{% endblock %}
