{% extends "base_view.html" %}
{% load widget_tweaks %}
{% load bird_tags %}

{% block title %} meliza-lab : measurements {% endblock %}

{% block content %}
<h2>{{ header_text }}</h2>

<form class="form-horizontal" method="get" role="form">
  <div class="form-group">
    <div class="col-sm-2">
      {% render_field filter.form.color placeholder="Band color" class+="form-control" %}
    </div>
    <div class="col-sm-2">
      {% render_field filter.form.band placeholder="Band number" class+="form-control" %}
    </div>
    <div class="col-sm-2">
      {% render_field filter.form.animal placeholder="UUID (beginning)" class+="form-control" %}
    </div>
    <div class="col-sm-2">
      {% render_field filter.form.type placeholder="Measurement type" class+="form-control" %}
    </div>
    <div class="col-sm-2">
      {% render_field filter.form.entered_by placeholder="Entered by" class+="form-control" %}
    </div>
    <button type="submit" class="btn btn-primary">
      <span class="glyphicon glyphicon-search"></span> Search
    </button>
  </div>
</form>

<table class="table table-striped table-condensed">
  <thead>
    <th>Animal</th>
    <th>Date</th>
    <th>Measure</th>
    <th>Value</th>
    <th>Entered by</th>
  </thead>
  <tbody>
    {% for measure in measurement_list %}
        <tr>
          <td><a href="{{ measure.event.animal.get_absolute_url }}">{{ measure.event.animal }}</a></td>
          <td>{{ measure.event.date }}</td>
          <td>{{ measure.type.name }}</td>
          <td>{{ measure.formatted }}</td>	  	  
          <td>{{ measure.event.entered_by }}</td>	  
        </tr>
    {% endfor %}
  </tbody>
</table>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?{{ query.urlencode }}&amp;page={{ page_obj.previous_page_number }}">previous</a> |
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            | <a href="?{{ query.urlencode }}&amp;page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock %}
