{% extends "base_view.html" %}
{% load widget_tweaks %}
{% load date_fmt %}

{% block title %} meliza-lab : nest check {% endblock %}

{% block content %}
<h2>Nest Check</h2>

<hr/>
<h3>Today's nest check</h3>

<p><strong>Instructions</strong>: This form is for entering data from the daily nest check. Count the eggs and chicks in each nest, update the values in the last column of the table, then click Submit. Note: if chicks die, you need to add events for the specific animals, then come back and complete the nest check. You may enter more than one nest check per day.</p>

<form action="" class="form-horizontal" method="post" role="form">
  {% csrf_token %}
  {{ nest_formset.management_form }}

<table class="table table-striped">
  <thead>
    <th></th>
    {% for date in dates %}
    <th>{{ date|date:"SHORT_DATE_FORMAT" }}</th>
    {% endfor %}
    <th>Nest Check</th>
  </thead>
  <tbody>
    {% for nest, form in nest_data %}
    <tr>
      <td><strong>{{ nest.location.name }}<strong></td>
      {% for day in nest.days %}
      <td>
        {{ day.animals.adult|url_list }}
        <br/>{{ day.counts|count_summary }}
      </td>
      {% endfor %}
      <td>
        {% if form.non_field_errors %}
        <div class="alert alert-danger">{{ form.non_field_errors }}</div>
        {% endif %}
        {{ form.location }}
        <div class="form-group">
          <label for="{{ form.eggs.id_for_label}}" class="col-sm-2 control-label">Eggs </label>
          <div class="col-sm-5">
          {% render_field form.eggs class+="form-control" %}
          </div>
        </div>
        <div class="form-group">
          <label for="{{ form.chicks.id_for_label}}" class="col-sm-2 control-label">Chicks </label>
          <div class="col-sm-5">
            {% render_field form.chicks class+="form-control" %}
          </div>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<p>Clicking Submit will take you to a new page where you can confirm the eggs and birds that will be added to and/or
removed from the database.</p>

<div class="form-group">
  <div class="col-sm-10">
    <button type="submit" class="btn btn-default">Submit Nest Check</button>
  </div>
</div>
</form>

<hr/>
<h3>Previous nest checks</h3>

<table class="table table-striped">
  <thead>
    <th>Date</th>
    <th>User</th>
    <th>Comments</th>
  </thead>
  <tbody>
    {% for check in nest_checks %}
    <tr>
      <td>{{ check.datetime.date }}</td>
      <td>{{ check.entered_by }}</td>
      <td>{{ check.comments }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
