{% extends "base_view.html" %}
{% load date_fmt %}

{% block title %} meliza-lab : nest report {% endblock %}

{% block content %}
<h2>Nest Report</h2>
<hr/>

<table class="table table-striped">
  <thead>
    <th></th>
    {% for date in dates %}
    <th>{{ date|date:"SHORT_DATE_FORMAT" }}</th>
    {% endfor %}
  </thead>
  <tbody>
    {% for nest in nest_data %}
    <tr>
      <td><strong>{{ nest.location.name }}<strong></td>
      {% for day in nest.days %}
      <td>
        {{ day.animals.adult|url_list }}
        <br/>{{ day.counts|count_summary }}
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>

<h4>Nest checks</h4>

<table class="table table-striped">
  <thead>
    <th>Date</th>
    <th>User</th>
    <th>Comments</th>
  </thead>
  <tbody>
    {% for check in nest_checks %}
    <tr>
      <td>{{ check.datetime.date }}</td>
      <td>{{ check.entered_by }}</td>
      <td>{{ check.comments }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<p><a href="{% url 'birds:nest-check' %}">enter nest check for today</a></p>

{% endblock %}
