{% extends "base_view.html" %}
{% load widget_tweaks %}
{% load date_fmt %}

{% block title %} meliza-lab : nest check confirmation {% endblock %}


{% block content %}
<h2>Nest Check — Confirm</h2>

<hr/>

<dl class="dl-horizontal">
  {% for location, items in changes.items %}
  <dt>{{ location.name }}</dt>
  {% for item in items %}
  <dd>
    {% if item.status is None %}
    no changes
    {% elif item.animal %}
      {{ item.animal }} {{ item.status }}
    {% else %}
      {{ item.sire }} and {{ item.dam }} laid an egg
    {% endif %}
  </dd>
  {% endfor %}
  {% endfor %}
</dl>

<hr/>

<p><strong>Instructions</strong>: Confirm the changes above, select your username and mark the checkbox to confirm that you checked your work, then click the button to update the database.</p>


<form action="" class="form-horizontal" method="post" role="form">
  {% csrf_token %}
  {{ nest_formset.management_form }}
  {% for form in nest_formset %}
  {{ form.location }}
  {{ form.eggs.as_hidden }}
  {{ form.chicks.as_hidden }}
  {% endfor %}

  <div class="form-group {% if user_form.comments.errors %}has-error{% endif %}">
    <label for="{{ user_form.comments.id_for_label" class="col-sm-2 control-label">Comments </label>
    <div class="col-sm-3">
      {% render_field user_form.comments class+="form-control" %}
    </div>
  </div>


  <div class="form-group {% if user_form.entered_by.errors %}has-error{% endif %}">
    <label for="{{ user_form.entered_by.id_for_label" class="col-sm-2 control-label">Entered by * </label>
    <div class="col-sm-3">
      {% render_field user_form.entered_by class+="form-control" %}
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          {{ user_form.confirmed }} I confirm these changes.
        </label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Confirm Nest Check</button>
    </div>
  </div>
</form>

{% endblock %}
