{% extends "base_view.html" %}
{% load widget_tweaks %}

{% block title %} meliza-lab : pairings {% endblock %}

{% block content %}
<h2>Pairings</h2>

<p>This report shows pairings, which begin when a male (sire) and female (dam) are placed in a cage to breed, and end when the pair is separated or moved to group housing. An active pair is one that has not yet been separated or moved. The progeny comprises the animals that were born during the pairing.</p>

<p>Click on the dates of any pairing to see details. This view allows you to create a new pairing (start a new clutch) with an inactive pair, or to break up an active pair. You can also <a href="{% url 'birds:new_pairing' %}">create a new pairing from scratch</a>.</p>

{% include "birds/pairing_table.html" %}
{% endblock %}
