{% extends "base_view.html" %}
{% load date_fmt %}
{% load widget_tweaks %}

{% block title %} meliza-lab : pairings {% endblock %}

{% block content %}
<h2>Pairings</h2>

<p>This report shows pairings, which begin when a male (sire) and female (dam) are placed in a cage to breed, and end when the pair is separated or moved to group housing. An active pair is one that has not yet been separated or moved. The progeny comprises the animals that were born during the pairing.</p>

<p>Click on the dates of any pairing to see details. This view allows you to create a new pairing (start a new clutch) with an inactive pair, or to break up an active pair.</p>

<p>You can filter this view by adding query parameters to the URL. Useful filter terms include sire (uuid), sire_color, sire_band, dam (uuid), dam_color, dam_band.</p>

<p>
  <a href="{% url 'birds:new_pairing' %}">create a new pairing from scratch</a><br/>
  <a href="{% url 'birds:pairings_active' %}">show active pairings only</a>
</p>

<table class="table table-striped table-condensed">
  <thead>
    <th>Sire</th>
    <th>Dam</th>
    <th>Dates</th>
    <th>Purpose</th>
    <th>Eggs Laid</th>
    <th>Progeny</th>
    <th>Oldest Living Progeny</th>
    <th>Comment</th>
  </thead>
  <tbody>
    {% for pairing in pairing_list %}
    <tr>
          <td><a href="{{ pairing.sire.get_absolute_url }}">{{ pairing.sire.name }}</a></td>
          <td><a href="{{ pairing.dam.get_absolute_url }}">{{ pairing.dam.name }}</a></td>
          <td><a href="{% url 'birds:pairing' pairing.id %}">{{ pairing.dates_str }}</a></td>
          <td>{{ pairing.purpose|default_if_none:"" }}</td>
          <td>{{ pairing.n_eggs }}</td>
          <td>{{ pairing.n_progeny }}</td>
          <td>{{ pairing.oldest_living_progeny_age|ageorblank }}</td>
      <td>{{ pairing.comment }}</td>
        </tr>
    {% endfor %}
  </tbody>
</table>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?{{ query.urlencode }}&amp;page={{ page_obj.previous_page_number }}">previous</a> |
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            | <a href="?{{ query.urlencode }}&amp;page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock %}
