{% extends "base_view.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %} meliza-lab : bird colony : create reservation {% endblock title%}

{% block css %}
    <link href="{% static 'local/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
{% endblock %}

{% block scripts %}
<script src="{% static 'local/js/moment.min.js' %}"></script>
<script src="{% static 'local/js/bootstrap-datetimepicker.min.js' %}"></script>
<script type="text/javascript">
  $(function () {
  $('#datetimepicker1').datetimepicker({ pickTime: false});
  });
</script>
{% endblock %}


{% block content %}

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Create or clear a reservation</h3>
  </div>
  <div class="panel-body">
    <form action="{% url 'birds:update_reservation' %}" class="form-horizontal" method="post" role="form">
      {% csrf_token %}
      <p><strong>Instructions</strong>: This form will update the reservation
      status of an animal and generate a corresponding event in the database.
      Set <em>Reserved by</em> to blank to release a reservation. </p>

      {% if form.non_field_errors %}
      <div class="alert alert-danger">{{ form.non_field_errors }}</div>
      {% endif %}

      <div class="form-group {% if form.animal.errors %}has-error{% endif %}">
        <label for="id_sire" class="col-sm-2 control-label">Animal</label>
        <div class="col-sm-5">
          {% render_field form.animal class+="form-control" %}
        </div>
      </div>

      <div class="form-group {% if form.date.errors %}has-error{% endif %}">
        <label for="id_date" class="col-sm-2 control-label">Event date * </label>
        <div class="col-sm-3">
          <div class="input-group date" id="datetimepicker1">
            {% render_field form.date class+="form-control" data-format="MM/dd/YYYY" %}
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
      </div>

      <div class="form-group {% if form.description.errors %}has-error{% endif %}">
        <label for="id_description" class="col-sm-2 control-label">Description</label>
        <div class="col-sm-5">
          {% render_field form.description class+="form-control" rows="3"%}
        </div>
      </div>

      <div class="form-group {% if form.entered_by.errors %}has-error{% endif %}">
        <label for="id_entered_by" class="col-sm-2 control-label">Reserved by </label>
        <div class="col-sm-3">
          {% render_field form.entered_by class+="form-control" %}
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">Update reservation</button>
        </div>
      </div>

    </form>
  </div>
</div>

{% endblock %}
