{% extends "base_view.html" %}

{% block title %} meliza-lab : sample types {% endblock %}

{% block content %}
<h2>{% if header_text %}{{ header_text}}{% else %}Sample Types{% endif %}</h2>
<table class="table table-striped table-condensed">
  <thead>
    <th>Sample Type</th>
    <th>Count</th>
    <th>Description</th>
  </thead>
  <tbody>
    {% for type in sampletype_list %}
        <tr>
          <td><a href="{% url 'birds:samples' %}?type={{ type.name }}">{{ type.name }}</a></td>
          <td>{{ type.sample_set.count }}</td>
          <td>{{ type.description }}</td>
        </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
