{% extends "base_view.html" %}
{% load bird_tags %}

{% block title %} meliza-lab : bird colony {% endblock %}

{% block content %}

<h2>Summary for {{ month }}/{{ year }}</h2>

<h3>Living animals</h3>

{% for species, sp_counts in bird_counts %}
<h4>{{ species }}</h4>
<table class="table table-striped table-condensed">
  <thead>
    <th>Age Group</th>
    <th>Males</th>
    <th>Females</th>
    <th>Unknown</th>
    <th>Total</th>
  </thead>
  <tbody>
    {% for group,count in sp_counts %}
    <tr>
      <td>{{ group }}</td>
      <td>{{ count.M|default:"" }}</td>
      <td>{{ count.F|default:"" }}</td>
      <td>{{ count.U|default:"" }}</td>
      <td>{{ count|count_total }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endfor %}

<h3>Events</h3>

<table class="table table-striped table-condensed">
  <thead>
    <th>Event Type</th>
    <th>Total</th>
  </thead>
  <tbody>
    {% for item in event_totals %}
    <tr>
      <td>{{ item.status__name }}</td>
      <td>{{ item.count }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<p>
  <a href="{% url 'birds:event_summary' prev.year prev.month %}">previous month</a>
  <a href="{% url 'birds:event_summary' next.year next.month %}">next month</a>
</p>

<p><a href="{% url 'birds:events' %}">list all events</a></p>

{% endblock %}
