{% extends "base_view.html" %}
{% load widget_tweaks %}
{% load bird_tags %}

{% block title %} meliza-lab : tag : {{ tag }} {% endblock %}

{% block content %}

<h2>Animals tagged with {{ tag }}</h2>

<dl class="dl-horizontal">
  <dt>description</dt><dd>{{ tag.description }}</dd>
  <dt>total</dt><dd>{{ tag.animals.count }}</dd>
  <dt>alive</dt><dd>{{ tag.animals.alive.count }}</dd>
</dl>

<p>
  <a href="{% url 'birds:tags' %}">all tags</a><br/>
  <a href="{% url 'admin:birds_tag_change' tag.id %}">edit this tag</a><br/>
</p>

<hr/>
<form class="form-horizontal" method="get" role="form">
  <div class="form-group">
    <div class="col-sm-2">
      {% render_field filter.form.color placeholder="Band color" class+="form-control" %}
    </div>
    <div class="col-sm-2">
      {% render_field filter.form.band placeholder="Band number" class+="form-control" %}
    </div>
    <div class="col-sm-2">
      {% render_field filter.form.uuid placeholder="UUID (beginning)" class+="form-control" %}
    </div>
    <button type="submit" class="btn btn-primary">
      <span class="glyphicon glyphicon-search"></span> Search
    </button>
  </div>
</form>

<table class="table table-striped table-condensed">
  <thead>
    <th>Name</th>
    <th>Species</th>
    <th>Sex</th>
    <th>Age</th>
    <th>Status</th>
    <th>Last Location</th>
    <th>UUID</th>
  </thead>
  <tbody>
    {% for animal in animal_list %}
    {% with history=animal.history %}
        <tr>
          <td><a href="{{ animal.get_absolute_url }}">{{ animal.name }}</a></td>
          <td>{{ animal.species }}</td>
          <td>{{ animal.sex }}</td>
          <td>{{ history.age_display }}</td>
          <td>{{ history.status_display }}</td>
          <td>{{ history.last_location|link_or_blank }}</td>
          <td>{{ animal.uuid }}</td>
          <td></td>
        </tr>
    {% endwith %}
    {% endfor %}
  </tbody>
</table>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?{{ query.urlencode }}&amp;page={{ page_obj.previous_page_number }}">previous</a> |
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            | <a href="?{{ query.urlencode }}&amp;page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

{% endblock %}
